---
layout: default
title: Blog
---

<!-- Blog Content -->
<section class="blog-posts">
    <div class="blog-posts-content">
        <h1 class="blog-title">BLOG POSTS</h1>
        
        <p class="blog-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>

        <div class="blog-list">
            {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
            
            {% for year in posts_by_year %}
            <!-- {{ year.name }} Posts -->
            <button class="blog-year-toggle collapsed">
                <span class="year-text">{{ year.name }}</span>
                <span class="year-icon">+</span>
            </button>
            <div class="blog-year-content collapsed">
                {% for post in year.items %}
                <div class="blog-item">
                    <span class="blog-icon">✦</span>
                    <a href="{{ post.url }}" class="blog-link">{{ post.title }}</a>
                    <span class="blog-date">({{ post.date | date: "%m-%d" }})</span>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
